<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" type="image/x-icon" href="/img/weather_icon2.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{error_msg}}</p>
        <img class="portrait" src="/img/404.png" alt="404">
    </div>

    {{>footer}}
</body>
</html>