<!DOCTYPE html>
<html >
<head>
    <link rel="icon" type="image/x-icon" href="/img/weather_icon2.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg" alt="user image">
        <p>Created by {{name}}. Full Stack Developer at ibirds Ajmer.</p>
    </div>
    
    {{>footer}}
</body>
</html>